@import "tailwindcss";

@theme {
  --color-default: #525955;
  --color-menu: #8A959E;

  --color-primary: #0353A4;
  --color-primary-blue: #0353A4;
  --color-primary-lightblue: #C1EEFF;
  --color-primary-darkblue: #061A40;
  --color-secondary-darkpink: #EF798A;
  --color-secondary-lightpink: #F7A9A8;

  --color-accent: #D6F2EB;
  --color-accent-100: #EAF8F4;
  --color-accent-200: #E0F5EF;
  --color-accent-300: #D6F2EB;

  --color-neutral: #6E6F70;
  --color-neutral-SECONDARY: #767D80;
  --color-neutral-0: #FFFFFF;
  --color-neutral-50: #FAFAFA;
  --color-neutral-100: #F6F6F6;
  --color-neutral-200: #EAEBEC;
  --color-neutral-300: #E2E2E2;
  --color-neutral-350: #D9DBDB;
  --color-neutral-400: #ABAFB1;
  --color-neutral-450: #8F9191;
  --color-neutral-500: #6E6F70;
  --color-neutral-600: #545757;
  --color-neutral-700: #404248;
  --color-neutral-800: #242626;
  --color-neutral-900: #041410;
  --color-neutral-1000: #000000;

  /* --color-primary-50: #ECFCF8;
  --color-primary-100: #CCEFE7;
  --color-primary-300: #94E8D4;
  --color-primary-500: #00AF85;
  --color-primary-600: #008C6A;
  --color-primary-700: #006950;
  --color-primary-900: #003428; */

  --color-forest: #084D3D;
  --color-forest-100: #C9EEE5;
  --color-forest-300: #59A191;
  --color-forest-500: #084D3D;
  --color-forest-700: #05362A;
  --color-forest-900: #02241C;

  --color-red: #DC2626;
  --color-red-50: #FCE9E9;
  --color-red-100: #F8D4D4;
  --color-red-300: #F59A9A;
  --color-red-500: #DC2626;
  --color-red-600: #BC1E1E;
  --color-red-700: #841717;
  --color-red-900: #2C0808;

  --color-orange-50: #FFF7EA;
  --color-orange-100: #FEEDD2;
  --color-orange-500: #F9A620;

  --color-gray-OVERLAY: #323232;
  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #1f2937;
  --color-gray-900: #111827;
  --color-gray-950: #030712;

  --color-hippieblue: #62a3b7;
  --color-hippieblue-50: #f1f8fa;
  --color-hippieblue-100: #DAEEF4;
  --color-hippieblue-200: #bedbe3;
  --color-hippieblue-300: #90c1d0;
  --color-hippieblue-400: #62a3b7;
  --color-hippieblue-500: #40849a;
  --color-hippieblue-600: #386c82;
  --color-hippieblue-700: #33596b;
  --color-hippieblue-800: #304c5a;
  --color-hippieblue-900: #2c414d;
  --color-hippieblue-950: #192933;

  --color-lightningyellow: #f7c10f;
  --color-lightningyellow-50: #fffeeb;
  --color-lightningyellow-100: #fefbc7;
  --color-lightningyellow-200: #fef789;
  --color-lightningyellow-300: #fded4c;
  --color-lightningyellow-400: #fdde22;
  --color-lightningyellow-500: #f7c10f;
  --color-lightningyellow-600: #db9504;
  --color-lightningyellow-700: #b56b08;
  --color-lightningyellow-800: #93530d;
  --color-lightningyellow-900: #79440e;
  --color-lightningyellow-950: #462302;

  --color-seagull: #82c6db;
  --color-seagull-50: #f3f9fc;
  --color-seagull-100: #e6f3f8;
  --color-seagull-200: #c8e5ef;
  --color-seagull-300: #82c6db;
  --color-seagull-400: #60b7d0;
  --color-seagull-500: #3c9fbb;
  --color-seagull-600: #2b819e;
  --color-seagull-700: #246780;
  --color-seagull-800: #22576a;
  --color-seagull-900: #214a59;
  --color-seagull-950: #162f3b;

  --keyframe-bouncing-0-66: none;
  --keyframe-bouncing-33: translateY(-.5em);
  --animation-loadBounce: bouncing 700ms ease-out infinite;
}